
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Sentiment Analysis Tools</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"></span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="{% url 'result_page' %}">HOME</a>
              <a class="mdl-navigation__link" href="">Request</a>
              <a class="mdl-navigation__link" href="{% url 'logout_view' %}" href="">Logout</a>
            </nav> 
        </div>
      <main class="mdl-layout__content">
        <div class="page-content">


            <div class="main-tasks-container">
                <div class="summary-container">
                    jgfdiosdgjodgjoidg
                </div>
                <div class="cards-container">
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Update</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenan convallis.
                            </div>

                            </div>

                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Update</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>

                    </div>
                </div> 
            </div>
        </div>
  </body>
</html>

